{% extends "main.html" %}
{% include "topnav.html" %}
{% block content %}
 <div id="signinButton" class="topright">


  <script>
    function onFailure(error) {
      console.log(error);
      document.write("<h1>Failure to login <h1>")
    }
    function renderButton() {
      gapi.signin2.render('signinButton', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSignIn,
        'onfailure': onFailure
      });
    }
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
   
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

   document.cookie = "catuserid="+profile.getId();
   document.cookie = "catusername="+profile.getName();
   document.cookie = "catuseremail="+profile.getEmail();
 
      setTimeout(function() {
          window.location.href = "/catalog";
         }, 4000);
}

    
  </script>
  
   {% endblock %}  