<!DOCTYPE html>
<html lang="en">
	<head>
	    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	
  <meta name="google-signin-client_id" content="371989888731-9vnlt4dusurdtr79s4nuusooia3j37vl.apps.googleusercontent.com">


	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">	 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
	<!--	<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
			-->
			<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

		<link href="{{ url_for('static', filename='font-awesome.css') }}" rel="stylesheet">
	
	
		<title>Udacity Catalog Application</title>
	</head>
	<body>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
		 <script src="https://apis.google.com/js/platform.js?onload=renderButton" ></script>
	</body>
</html>