{% extends "main.html" %}
{% include "topnav.html" %}
{% block content %}
<div class="col-xs-12" style="height:80px;"></div>

	<div class="row banner menu">
<h1 class="display-3">Books in Catalog {{cats.name}}</h1>
</div>
<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

 <div class="row">
   <div class="col-xs-12" style="width:20px;"></div>
 <a href = '{{url_for('newBook', cat_id=cats.cat_id)}}'>
      <button  class="btn btn-success btn-lg">Add a new Book</button>
      </a>
      <div class="col-xs-12" style="width:40px;"></div>
   <a href = '{{url_for('showCatalogs')}}'>
      <button class="btn btn-info">Cancel</button>
      </a>
 
  </div>
<!--
<a  href='{{url_for('editCatalog', cat_id = 1) }}'>
<button type="button" class="btn btn-info btn-lg">Edit Category</button>
</a> -->

</div>
<div class="col-xs-12" style="height:50px;"></div>

<div class="container">
  <div class="row">
 
 {% for i in items %} 
  <div class="list-group">
  <a href='{{url_for('editCatalogItem', cat_id=i.cat_id, item_id=i.item_id)}}'
   class="list-group-item list-group-item-action flex-column align-items-start ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{i.name}}</h5>
     
     
      <small class="text-warning">{{i.price}}
         </small>
       
      
     
    </div>
    <p class="mb-1">{{i.description}}</p>
    <small class="text-primary"><b> Written by {{i.author}} </b></small>
  </a>
  </div>
  {% endfor %}
</div>
</div>

   {% endblock %}  