<!DOCTYPE html>
<html lang="en">
	<head>
	    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	
  <meta name="google-signin-client_id" content="1049350777384-6mkvjsngh7vf0gjm0humpgt2gdllgph3.apps.googleusercontent.com">

		<!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
		-->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">	 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
	<!--	<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
			-->
			<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

		<link href="{{ url_for('static', filename='font-awesome.css') }}" rel="stylesheet">
	
	
		<title>Udacity Catalog Application</title>
	</head>
	<body>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
		 <script src="https://apis.google.com/js/platform.js?onload=renderButton" ></script>
	</body>
</html>