<html>
<head>
  <meta name="google-signin-client_id" content="1049350777384-6mkvjsngh7vf0gjm0humpgt2gdllgph3.apps.googleusercontent.com">
</head>
<body>
{%if 'username' not in session %}
  <div id="signinButton">
  
  </div>
  {% else %}
		<li><a href="/gdisconnect">Logout</a></li>
	{% endif %}
  <script>
   function signInCallback(authResult) {
       console.log('in signInCallback');
       console.log('authResult-->'+authResult['code']);

 }
    function onFailure(error) {
      console.log(error);
      document.write("<h1>Failure to login <h1>")
    }
    function renderButton() {
      gapi.signin2.render('signinButton', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSignIn,
        'onfailure': onFailure
      });
    }
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
   
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
      setTimeout(function() {
          window.location.href = "test";
         }, 4000);
}

    
  </script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton" ></script>

</body>
</html>